[submodule "FastPitch_TF/DeepLearningExamples"]
	path = FastPitch_TF/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples
[submodule "Tacotron2_TF/tacotron2"]
	path = Tacotron2_TF/tacotron2
	url = https://github.com/NVIDIA/tacotron2
[submodule "Tacotron2_TF/Tacotron-2"]
	path = Tacotron2_TF/Tacotron-2
	url = https://github.com/Rayhane-mamah/Tacotron-2
[submodule "Flowtron_TF/flowtron"]
	path = Flowtron_TF/flowtron
	url = https://github.com/NVIDIA/flowtron
